@import "../base";

/* @define Banner */
.Banner {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 4rem;
}

.Banner-slot {
  flex: 1 1 22rem;
  background: rgb(var(--color-gray-light));
}

/**
 * 1. Fill extra space but allow Banner-slot to grow in when wrapped
 */

.Banner-figure {
  flex: 999 1 35rem; /* 1 */
  overflow: hidden;
}

.Banner-image {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: rgba(var(--color-gray-light), 0.6);
}

@media (min-width: 600px) {
  .Banner {
    min-height: 63vh;
  }
}

@supports (object-fit: cover) {
  .Banner-image {
    height: 100%;
  }
}
