@import "../base";

/* @define Banner */
.Banner {
  margin-bottom: 2.3rem;
}

.Banner-slot {
  display: flex;
  order: 1;
  background: rgb(var(--color-gray-light));
  outline: 0.2rem solid;
  outline-offset: -0.2rem;
  outline-color: rgba(var(--high-contrast-dark, 0, 0, 0, 0));
}

/**
 * 1. Fill extra space but allow Banner-slot to grow in when wrapped
 */

.Banner-figure {
  overflow: hidden;
  position: relative;
  min-height: 65vh;
}

.Banner-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  min-width: 100%;
}

.Banner-slot .Banner-figure::before {
  content: "";
  display: block;
  padding-bottom: 60%;
  background-color: rgba(var(--color-gray-light), 0.6);
}

@supports (object-fit: cover) {
  .Banner-image {
    top: 0;
    left: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
    transform: none;
    object-fit: cover;
  }
}
@media (min-width: 700px) {
  .Benner {
    margin-bottom: 3.6rem;
  }
}

@media (min-width: 700px) {
  .Banner {
    margin-bottom: 3.6rem;
  }
}
