/* @define Goal */

@import "../base";

.Goal {
  --current-color: #fff;
  display: flex;
  align-items: stretch;
  width: 100%;
  position: relative;
  z-index: 0;
  transition: background-color 150ms var(--ease-out);
  background: var(--current-background);
  color: var(--current-color);
}

.Goal::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

/**
 * 1. Square ratio
 * 2. Ratio of 2/3 (landscape), accounting for grid gutter
 * 3. Ratio of 3/2 (portrait), accounting for grid gutter
 */

.Goal--square::before {
  padding-top: 100%; /* 1 */
}

.Goal--landscape::before {
  padding-top: calc(((100% - var(--gutter, 0px) * 2) / 3) * 2 + var(--gutter, 0px)); /* 2 */
}

.Goal--portrait::before {
  padding-top: calc((((100% - var(--gutter, 0px)) / 2) * 3) + var(--gutter, 0px) * 2); /* 3 */
}

.Goal::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  background: var(--current-background);
  transition: opacity 180ms var(--ease-out);
}

.Goal--fullscreen::after {
  content: none;
}

.Goal:hover::after {
  opacity: 1;
}

.Goal--blank { --current-background: rgba(var(--color-gray-light), 0.6); }
.Goal--blank::after { --current-background: rgba(var(--color-gray-light), 1); }

.Goal--1 { --current-background: rgb(var(--color-goal-1)); }
.Goal--1::after { --current-background: rgba(var(--color-goal-1-shaded), 0.13); }
.Goal--2 { --current-background: rgb(var(--color-goal-2)); }
.Goal--2::after { --current-background: rgba(var(--color-goal-2-shaded), 0.13); }
.Goal--3 { --current-background: rgb(var(--color-goal-3)); }
.Goal--3::after { --current-background: rgba(var(--color-goal-3-shaded), 0.13); }
.Goal--4 { --current-background: rgb(var(--color-goal-4)); }
.Goal--4::after { --current-background: rgba(var(--color-goal-4-shaded), 0.13); }
.Goal--5 { --current-background: rgb(var(--color-goal-5)); }
.Goal--5::after { --current-background: rgba(var(--color-goal-5-shaded), 0.13); }
.Goal--6 { --current-background: rgb(var(--color-goal-6)); }
.Goal--6::after { --current-background: rgba(var(--color-goal-6-shaded), 0.13); }
.Goal--7 { --current-background: rgb(var(--color-goal-7)); }
.Goal--7::after { --current-background: rgba(var(--color-goal-7-shaded), 0.13); }
.Goal--8 { --current-background: rgb(var(--color-goal-8)); }
.Goal--8::after { --current-background: rgba(var(--color-goal-8-shaded), 0.13); }
.Goal--9 { --current-background: rgb(var(--color-goal-9)); }
.Goal--9::after { --current-background: rgba(var(--color-goal-9-shaded), 0.13); }
.Goal--10 { --current-background: rgb(var(--color-goal-10)); }
.Goal--10::after { --current-background: rgba(var(--color-goal-10-shaded), 0.13); }
.Goal--11 { --current-background: rgb(var(--color-goal-11)); }
.Goal--11::after { --current-background: rgba(var(--color-goal-11-shaded), 0.13); }
.Goal--12 { --current-background: rgb(var(--color-goal-12)); }
.Goal--12::after { --current-background: rgba(var(--color-goal-12-shaded), 0.13); }
.Goal--13 { --current-background: rgb(var(--color-goal-13)); }
.Goal--13::after { --current-background: rgba(var(--color-goal-13-shaded), 0.13); }
.Goal--14 { --current-background: rgb(var(--color-goal-14)); }
.Goal--14::after { --current-background: rgba(var(--color-goal-14-shaded), 0.13); }
.Goal--15 { --current-background: rgb(var(--color-goal-15)); }
.Goal--15::after { --current-background: rgba(var(--color-goal-15-shaded), 0.13); }
.Goal--16 { --current-background: rgb(var(--color-goal-16)); }
.Goal--16::after { --current-background: rgba(var(--color-goal-16-shaded), 0.13); }
.Goal--17 { --current-background: rgb(var(--color-goal-17)); }
.Goal--17::after { --current-background: rgba(var(--color-goal-17-shaded), 0.13); }

/**
 * Inner container
 */

.Goal-container {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

/**
 * Multi purpose goal square cell
 */

.Goal-cell {
  display: flex;
  align-items: stretch;
  align-self: flex-start;
}

.Goal-cell::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding-top: 100%;
}

.Goal--square .Goal-cell {
  width: 100%;
}

.Goal--landscape .Goal-cell {
  width: calc((100% - var(--gutter, 0px) * 2) / 3);
}

.Goal--portrait .Goal-cell {
  width: calc((100% - var(--gutter, 0px)) / 2);
}

/**
 * Goal icon
 */

.Goal-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  user-select: none;
  white-space: nowrap;
}

@media print {
  .Goal-icon,
  .Goal-number {
    color: black;
  }
}

/**
 * 1. Overwrite normalize svg rule
 */

.Goal-label {
  width: 100%;
  height: auto;
  min-height: 0;
  margin-top: 8%;
  color: currentColor;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  word-spacing: var(--heading-word-spacing);
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: visible !important; /* 1 */
}

.Goal-glyph {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  fill: currentColor;
  width: 80%;
  margin-left: 10%;
  margin-top: -4%;
}

/**
 * Content container
 */

.Goal-content {
  margin: 1.2rem;
}

@media (min-width: 1200px) {
  .Goal-content {
    margin: 2rem;
  }
}

/**
 * Fullscreen
 */

.Goal--fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 27rem;
  /* padding-top: var(--Goal-padding);
  margin-top: calc(var(--Goal-padding) * -1); */
  overflow: hidden;
}

.Goal--fullscreen .Goal-container {
  flex: 0 0 auto;
  width: 100%;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-left: calc(1.2rem + constant(safe-area-inset-right));
  padding-right: calc(1.2rem + constant(safe-area-inset-right));
  padding-left: calc(1.2rem + env(safe-area-inset-right));
  padding-right: calc(1.2rem + env(safe-area-inset-right));
}

@media (min-width: 700px) {
  .Goal--fullscreen .Goal-container {
    width: 700px;
  }

  .Goal--fullscreen .Goal-content {
    width: calc(100% - (155px + (var(--offset, 0) * 3.7px)));
    margin-left: calc(155px + (var(--offset, 0) * 3.7px));
  }
}

@media (min-width: 1000px) and (min-height: 600px) {
  .Goal--fullscreen {
    min-height: 630px;
  }

  .Goal--fullscreen .Goal-container {
    width: 860px;
    padding: 0;
  }

  .Goal--fullscreen .Goal-content {
    width: calc(100% - (200px + (var(--offset, 0) * 4.8px)));
    margin-left: calc(200px + (var(--offset, 0) * 4.8px));
  }
}

@media (min-width: 1600px) and (min-height: 600px) {
  .Goal--fullscreen .Goal-container {
    width: 1200px;
  }

  .Goal--fullscreen .Goal-content {
    width: calc(100% - (280px + (var(--offset, 0) * 6.2px)));
    margin-left: calc(280px + (var(--offset, 0) * 6.2px));
  }
}

.Goal--1.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-1-shaded)); }
.Goal--2.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-2-shaded)); }
.Goal--3.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-3-shaded)); }
.Goal--4.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-4-shaded)); }
.Goal--5.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-5-shaded)); }
.Goal--6.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-6-shaded)); }
.Goal--7.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-7-shaded)); }
.Goal--8.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-8-shaded)); }
.Goal--9.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-9-shaded)); }
.Goal--10.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-10-shaded)); }
.Goal--11.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-11-shaded)); }
.Goal--12.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-12-shaded)); }
.Goal--13.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-13-shaded)); }
.Goal--14.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-14-shaded)); }
.Goal--15.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-15-shaded)); }
.Goal--16.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-16-shaded)); }
.Goal--17.Goal--fullscreen .Goal-number { color: rgb(var(--color-goal-17-shaded)); }
