@import "../base";
@import "../text";

/**
 * 1. Inverse current color theme
 */

:root {
  --Goal-color: rgb(var(--current-background)); /* 1 */
  --Goal-background: rgb(var(--current-color)); /* 1 */
}

/* @define Goal */
.Goal {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: var(--Goal-background);
  color: var(--Goal-color);
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
}

.Goal.is-hidden {
  visibility: hidden;
  transition: none;
}

.Goal.is-pressed {
  transform: scale(0.97)
}

.Goal::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

/**
 * 1. Highjack pseudo element to match dimmed down background of animation
 */

:root[scripting-enabled] .Goal--7.Goal--background::before,
:root[scripting-enabled] .Goal--7.Goal--takeover::before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(var(--color-goal-7-shaded), 0.6);
}

/**
 * 1. Square ratio
 * 2. Ratio of 2/3 (landscape), accounting for grid gutter
 * 3. Ratio of 3/2 (portrait), accounting for grid gutter
 */

.Goal--square::before {
  padding-top: 100%; /* 1 */
}

.Goal--landscape::before {
  padding-top: calc(((100% - var(--gutter, 0.625rem) * 2) / 3) * 2 + var(--gutter, 0.625rem)); /* 2 */
}

.Goal--portrait::before {
  padding-top: calc((((100% - var(--gutter, 0.625rem)) / 2) * 3) + var(--gutter, 0.625rem) * 2); /* 3 */
}

/**
 * 1. Exclude in IE to avoid rendering issue with svg text
 */

@supports (display: block) /* 1 */ {
  .Goal[href]::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    background: var(--Goal-background);
    transition: opacity 180ms var(--ease-out);
  }

  .Goal--fullscreen::after,
  .Goal--takeover::after,
  .Goal--transition::after {
    content: none;
  }

  .Goal:hover::after {
    opacity: 1;
  }
}

/**
 * 1. Ensure that background renders under the ::after element
 */

.Goal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; /* 1 */
}

.Goal--blank {
  --Goal-background: rgba(var(--color-gray-light), 0.6);
  background: rgba(var(--color-gray-light), 0.6);
}
.Goal--blank[href]::after { background: rgba(var(--color-gray-light), 1); }

.Goal--1, .Goal--1:hover, .Goal--1:active {
  --Goal-background: rgb(var(--color-goal-1));
  background: rgb(var(--color-goal-1));
}
.Goal--1[href]::after { background: rgba(var(--color-goal-1-shaded), 0.13); }

.Goal--2, .Goal--2:hover, .Goal--2:active {
  --Goal-background: rgb(var(--color-goal-2));
  background: rgb(var(--color-goal-2));
}
.Goal--2[href]::after { background: rgba(var(--color-goal-2-shaded), 0.13); }

.Goal--3, .Goal--3:hover, .Goal--3:active {
  --Goal-background: rgb(var(--color-goal-3));
  background: rgb(var(--color-goal-3));
}
.Goal--3[href]::after { background: rgba(var(--color-goal-3-shaded), 0.13); }

.Goal--4, .Goal--4:hover, .Goal--4:active {
  --Goal-background: rgb(var(--color-goal-4));
  background: rgb(var(--color-goal-4));
}
.Goal--4[href]::after { background: rgba(var(--color-goal-4-shaded), 0.13); }

.Goal--5, .Goal--5:hover, .Goal--5:active {
  --Goal-background: rgb(var(--color-goal-5));
  background: rgb(var(--color-goal-5));
}
.Goal--5[href]::after { background: rgba(var(--color-goal-5-shaded), 0.13); }

.Goal--6, .Goal--6:hover, .Goal--6:active {
  --Goal-background: rgb(var(--color-goal-6));
  background: rgb(var(--color-goal-6));
}
.Goal--6[href]::after { background: rgba(var(--color-goal-6-shaded), 0.13); }

.Goal--7, .Goal--7:hover, .Goal--7:active {
  --Goal-background: rgb(var(--color-goal-7));
  background: rgb(var(--color-goal-7));
}
.Goal--7[href]::after { background: rgba(var(--color-goal-7-shaded), 0.13); }

.Goal--8, .Goal--8:hover, .Goal--8:active {
  --Goal-background: rgb(var(--color-goal-8));
  background: rgb(var(--color-goal-8));
}
.Goal--8[href]::after { background: rgba(var(--color-goal-8-shaded), 0.13); }

.Goal--9, .Goal--9:hover, .Goal--9:active {
  --Goal-background: rgb(var(--color-goal-9));
  background: rgb(var(--color-goal-9));
}
.Goal--9[href]::after { background: rgba(var(--color-goal-9-shaded), 0.13); }

.Goal--10, .Goal--10:hover, .Goal--10:active {
  --Goal-background: rgb(var(--color-goal-10));
  background: rgb(var(--color-goal-10));
}
.Goal--10[href]::after { background: rgba(var(--color-goal-10-shaded), 0.13); }

.Goal--11, .Goal--11:hover, .Goal--11:active {
  --Goal-background: rgb(var(--color-goal-11));
  background: rgb(var(--color-goal-11));
}
.Goal--11[href]::after { background: rgba(var(--color-goal-11-shaded), 0.13); }

.Goal--12, .Goal--12:hover, .Goal--12:active {
  --Goal-background: rgb(var(--color-goal-12));
  background: rgb(var(--color-goal-12));
}
.Goal--12[href]::after { background: rgba(var(--color-goal-12-shaded), 0.13); }

.Goal--13, .Goal--13:hover, .Goal--13:active {
  --Goal-background: rgb(var(--color-goal-13));
  background: rgb(var(--color-goal-13));
}
.Goal--13[href]::after { background: rgba(var(--color-goal-13-shaded), 0.13); }

.Goal--14, .Goal--14:hover, .Goal--14:active {
  --Goal-background: rgb(var(--color-goal-14));
  background: rgb(var(--color-goal-14));
}
.Goal--14[href]::after { background: rgba(var(--color-goal-14-shaded), 0.13); }

.Goal--15, .Goal--15:hover, .Goal--15:active {
  --Goal-background: rgb(var(--color-goal-15));
  background: rgb(var(--color-goal-15));
}
.Goal--15[href]::after { background: rgba(var(--color-goal-15-shaded), 0.13); }

.Goal--16, .Goal--16:hover, .Goal--16:active {
  --Goal-background: rgb(var(--color-goal-16));
  background: rgb(var(--color-goal-16));
}
.Goal--16[href]::after { background: rgba(var(--color-goal-16-shaded), 0.13); }

.Goal--17, .Goal--17:hover, .Goal--17:active {
  --Goal-background: rgb(var(--color-goal-17));
  background: rgb(var(--color-goal-17));
}
.Goal--17[href]::after { background: rgba(var(--color-goal-17-shaded), 0.13); }

/**
 * Inner container
 */

.Goal-container {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

/**
 * Before the button is visible, some goal animations overlap the text.
 * Let's move the text up until the button is visible
 */

@media (max-width: 999px) {
  .Goal--portrait.Goal--2 .Goal-container,
  .Goal--portrait.Goal--4 .Goal-container,
  .Goal--portrait.Goal--11 .Goal-container,
  .Goal--portrait.Goal--16 .Goal-container {
    justify-content: inherit;
  }
}

/**
 * Multi purpose goal square cell
 */

.Goal-cell {
  position: relative;
}

.Goal-cell::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding-top: 100%;
}

.Goal--square .Goal-cell {
  width: 100%;
}

.Goal--landscape .Goal-cell {
  width: calc((100% - var(--gutter, 0.625rem) * 2) / 3);
}

.Goal--portrait .Goal-cell {
  width: calc((100% - var(--gutter, 0.625rem)) / 2);
}

/**
 * Goal icon
 */

.Goal-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
  white-space: nowrap;
}

@media print {
  .Goal-icon,
  .Goal-number {
    color: black;
  }
}

/**
 * 1. Overwrite normalize svg rule
 */

.Goal-label {
  width: 100%;
  height: auto;
  min-height: 0;
  margin-top: 8%;
  z-index: 0;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  word-spacing: var(--heading-word-spacing);
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: visible !important; /* 1 */
}

.Goal-symbol {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: -4%;
}

.Goal[href] .Goal-symbol {
  transition: transform 180ms var(--ease-out);
  will-change: transform;
}

/**
 * 1. Exclude in IE to avoid rendering issue with svg text
 */

@supports (display: block) /* 1 */ {
  .Goal[href]:hover .Goal-symbol {
    transform: scale(1.08);
  }
}

/**
 * Content container
 */

.Goal-content {
  margin: 1.2rem;
}

@media (min-width: 1200px) {
  .Goal-content {
    margin: 2rem;
  }
}

.Goal--fullscreen .Goal-content {
  max-width: 32rem;
  padding-right: 2.5rem;
  margin: 0;
}

.Goal--fullscreen.Goal--1 .Goal-content { margin-left: 13.1%; }
.Goal--fullscreen.Goal--2 .Goal-content { margin-left: 9.6%; }
.Goal--fullscreen.Goal--3 .Goal-content { margin-left: 9.6%; }
.Goal--fullscreen.Goal--4 .Goal-content { margin-left: 9%; }
.Goal--fullscreen.Goal--5 .Goal-content { margin-left: 9.6%; }
.Goal--fullscreen.Goal--6 .Goal-content { margin-left: 9.6%; }
.Goal--fullscreen.Goal--7 .Goal-content { margin-left: 10.1%; }
.Goal--fullscreen.Goal--8 .Goal-content { margin-left: 9.5%; }
.Goal--fullscreen.Goal--9 .Goal-content { margin-left: 7.6%; }
.Goal--fullscreen.Goal--10 .Goal-content { margin-left: 8%; }
.Goal--fullscreen.Goal--11 .Goal-content { margin-left: 9.6%; }
.Goal--fullscreen.Goal--12 .Goal-content { margin-left: 8.3%; }
.Goal--fullscreen.Goal--13 .Goal-content { margin-left: 8.2%; }
.Goal--fullscreen.Goal--14 .Goal-content { margin-left: 8.1%; }
.Goal--fullscreen.Goal--15 .Goal-content { margin-left: 8%; }
.Goal--fullscreen.Goal--16 .Goal-content { margin-left: 6%; }
.Goal--fullscreen.Goal--17 .Goal-content { margin-left: 8.6%; }

/**
 * 1. Exclude children height from layout to preserve vertical align
 */

.Goal--fullscreen .Goal-children {
  height: 0; /* 1 */
  overflow: visible;
}

/**
 * Fullscreen/takeover
 */

.Goal--fullscreen,
.Goal--takeover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 27rem;
  overflow: hidden;
}

.Goal--takeover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  transform-origin: 0 0;
  transform:
    translateX(calc(1px * (var(--left) + var(--width) * (1 - var(--shrink, 1)) / 2)))
    translateY(calc(1px * (var(--top) + var(--height) * (1 - var(--shrink, 1)) / 2)))
    scaleX(calc((var(--width) * var(--shrink, 1)) / var(--vw)))
    scaleY(calc((var(--height) * var(--shrink, 1)) / var(--vh)));
}

.Goal--takeover.in-transition {
  transition: transform 300ms var(--ease-in);
  transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1);
}

.Goal--transition {
  position: fixed;
  height: var(--height);
  width: var(--width);
  left: var(--left);
  top: var(--top);
  z-index: 7;
  background: transparent;
  transform-origin: 0 0;
  transform:
    translateX(var(--translateX))
    translateY(var(--translateY)) scale(var(--scale));
}

.Goal--transition.in-transition {
  transition: transform 330ms 150ms var(--ease);
  transform: translateX(0px) translateY(0px) scale(1);
}

.Goal--fullscreen .Goal-container {
  flex: 0 0 auto;
  width: 100%;
  margin-top: -2%;
}

@media (min-width: 400px) {
  .Goal.Goal--fullscreen .Goal-content,
  .Goal.Goal--takeover .Goal-content {
    font-size: 1.1875rem;
  }
}

@media (min-width: 700px) {
  .Goal--fullscreen .Goal-container {
    width: 700px;
  }

  .Goal.Goal--fullscreen .Goal-content {
    width: calc(100% - (189px + (var(--offset, 0) * 3px)));
    margin-left: calc(189px + (var(--offset, 0) * 3px));
  }

}

@media (min-width: 1000px) and (min-height: 600px) {
  .Goal--fullscreen {
    min-height: 630px;
  }

  .Goal--fullscreen .Goal-container {
    width: 860px;
    padding: 0;
  }

  .Goal.Goal--fullscreen .Goal-content {
    width: calc(100% - (232px + (var(--offset, 0) * 3.9px)));
    margin-left: calc(232px + (var(--offset, 0) * 3.9px));
  }
}

@media (min-width: 1600px) and (min-height: 600px) {
  .Goal--fullscreen .Goal-container {
    width: 1200px;
  }

  .Goal.Goal--fullscreen .Goal-content {
    width: calc(100% - (325px + (var(--offset, 0) * 5.8px)));
    margin-left: calc(325px + (var(--offset, 0) * 5.8px));
  }
}

.Goal--fullscreen .Goal-label,
.Goal--transition .Goal-label,
.Goal--takeover .Goal-label {
  margin: 0;
}

.Goal--fullscreen .Goal-icon,
.Goal--takeover .Goal-icon {
  position: relative;
}

.Goal--1.Goal--fullscreen .Goal-number,
.Goal--1.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-1-shaded)));
}

.Goal--2.Goal--fullscreen .Goal-number,
.Goal--2.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-2-shaded)));
}

.Goal--3.Goal--fullscreen .Goal-number,
.Goal--3.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-3-shaded)));
}

.Goal--4.Goal--fullscreen .Goal-number,
.Goal--4.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-4-shaded)));
}

.Goal--5.Goal--fullscreen .Goal-number,
.Goal--5.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-5-shaded)));
}

.Goal--6.Goal--fullscreen .Goal-number,
.Goal--6.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-6-shaded)));
}

.Goal--7.Goal--fullscreen .Goal-number,
.Goal--7.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, 255, 255, 255));
}
.Goal--7.Goal--fullscreen .Goal-text,
.Goal--7.Goal--transition .Goal-text,
.Goal--7.Goal--fullscreen .Goal-content {
  color: rgb(var(--high-contrast-light, 0, 0, 0));
}

.Goal--8.Goal--fullscreen .Goal-number,
.Goal--8.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-8-shaded)));
}

.Goal--9.Goal--fullscreen .Goal-number,
.Goal--9.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-9-shaded)));
}

.Goal--10.Goal--fullscreen .Goal-number,
.Goal--10.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-10-shaded)));
}

.Goal--11.Goal--fullscreen .Goal-number,
.Goal--11.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-11-shaded)));
}

.Goal--12.Goal--fullscreen .Goal-number,
.Goal--12.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-12-shaded)));
}

.Goal--13.Goal--fullscreen .Goal-number,
.Goal--13.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-13-shaded)));
}

.Goal--14.Goal--fullscreen .Goal-number,
.Goal--14.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-14-shaded)));
}

.Goal--15.Goal--fullscreen .Goal-number,
.Goal--15.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-15-shaded)));
}

.Goal--16.Goal--fullscreen .Goal-number,
.Goal--16.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-16-shaded)));
}

.Goal--17.Goal--fullscreen .Goal-number,
.Goal--17.Goal--transition .Goal-number {
  color: rgb(var(--high-contrast-light, var(--color-goal-17-shaded)));
}

/**
 * Action button
 */

.Goal-action {
  display: inline-block;
  padding: 0.5rem 0.65rem;
  border-radius: 2px;
  white-space: nowrap;
  transition: background-color 180ms var(--ease-out);
  margin: 0.6rem 0 0 -0.65rem;
  user-select: none;
}

.Goal-action:hover {
  background: rgba(0, 0, 0, 0.08);
}

.Goal-arrow {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -0.15rem;
  margin-right: 0.5rem;
}

/**
 * Pagination
 */

.Goal-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 15%;
  height: 100%;
  position: absolute;
  top: 0;
  animation: Goal-pagination--appear 150ms forwards var(--ease-out);
  will-change: transform;
}

.Goal-pagination:focus-visible {
  outline: 0 !important;
}

@media (max-width: 599px) {
  .Goal-pagination {
    display: none;
  }
}

@keyframes Goal-pagination--appear {
  to {
    transform: translateX(0);
  }
}

.Goal-pageTitle {
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  word-spacing: var(--heading-word-spacing);
  text-transform: uppercase;
  opacity: 0;
  transform: translateX(0);
  white-space: nowrap;
  position: relative;
  top: 0.07rem;
  transition:
    opacity 150ms var(--ease-out),
    transform 150ms var(--ease-out);
  will-change: transform, opacity;
}


.Goal-pagination:focus-visible .Goal-pageTitle,
.Goal-pagination:hover .Goal-pageTitle {
  opacity: 1;
}

.Goal-pagination--prev {
  flex-direction: row-reverse;
  padding-left: 3vw;
  left: 0;
  transform: translateX(-100%);
}

.Goal-pagination--prev:hover .Goal-pageTitle {
  transform: translateX(0.5rem);
}

.Goal-pagination--next {
  padding-right: 3vw;
  right: 0;
  text-align: right;
  transform: translateX(100%);
}

.Goal-pagination--next:hover .Goal-pageTitle {
  transform: translateX(-0.5rem);
}

@media (min-width: 800px) {
  .Goal-pagination {
    font-size: 1.4rem;
  }
}