@import "../base";

/** @define Event */
.Event {
  width: 100%;
}

.Event--banner {
  height: 65vh;
  max-height: 75vw;
}

@media (min-width: 600px) {
  .Event--banner {
    max-height: 45vw;
  }
}

.Event-content {
  height: 100%;
  position: relative;
  overflow: hidden;
  color: rgb(var(--current-background));
  background-color: rgb(var(--color-theme));
}

.Event:not(.Event--banner) .Event-content::before {
  content: "";
  display: block;
  height: 0;
  padding-top: calc(100% * 3 / 4);
}

.Event-icon {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Event-date {
  position: absolute;
  left: 1.5rem;
  bottom: 1rem;
  font-size: 3.5rem;
  line-height: 1;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  word-spacing: var(--heading-word-spacing);
}

.Event-details {
  max-width: calc(100% - 10rem);
  position: absolute;
  right: 1.5rem;
  bottom: 1.6rem;
  text-align: right;
}

.Event-time {
  display: block;
  font-size: 1.75rem;
  line-height: 1;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  word-spacing: var(--heading-word-spacing);
}

.Event-location {
  display: block;
  line-height: 1.2;
}

/**
 * Background
 */

.Event-shape {
  position: absolute;
  will-change: transform;
  transition: transform 600ms var(--ease-out);
}

.Event:not(.Event--static):not(.is-loading):hover .Event-shape {
  transition: transform 400ms var(--ease-out);
}

.Event-shape::before {
  content: "";
  display: block;
  height: 0;
  padding-top: 100%;
}

.Event-shape--big {
  width: 100%;
  left: -75%;
  top: 25%;
  transform: rotate(-20deg);
  transform-origin: 100% 0;
  background-color: rgb(253, 105, 37);
}

.Event:not(.Event--static):not(.is-loading):hover .Event-shape--big {
  transform: translateX(-2%) rotate(-10deg);
}

.Event-shape--small {
  width: 42%;
  right: -35%;
  top: 30%;
  transform: rotate(40deg);
  transform-origin: 0 0;
  background-color: #C5192D;
  background-color: rgb(197, 25, 45);
}

.Event:not(.Event--static):not(.is-loading):hover .Event-shape--small {
  transform: translateX(2%) rotate(25deg);
}

.Event-shape--circle {
  width: 30%;
  right: -6%;
  top: 10%;
  border-radius: 100%;
  transform-origin: 50% 50%;
  background-color: rgb(255, 58, 33);
}

.Event:not(.Event--static):not(.is-loading):hover .Event-shape--circle {
  transform: translate(5%, -15%);
}

.Event-figure::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, 0.10) 30%,
    rgba(0, 0, 0, 0.10) 55%,
    rgba(0, 0, 0, 0.75) 100%
  );
  transition: background-image 180ms var(--ease-out);
}

.Event-image {
  position: absolute;
  left: 50%;
  top: 50%;
  max-height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

@supports (object-fit: cover) {
  .Event-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: none;
  }
}
