@import "../base";

/* @define Button */
.Button {
  display: inline-block;
  line-height: 3.25rem;
  padding: 0 1rem;
  min-width: 10rem;
  font-size: 1.5rem;
  color: rgb(var(--default-color));
  background-color: rgba(var(--color-gray), 0.12);
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  user-select: none;
  font-family: var(--heading-font-family);
  word-spacing: var(--heading-word-spacing);
  transition: 140ms var(--ease-out);
  transition-property: background-color, color;
  border-radius: 2px;
}

.Button:hover {
  background-color: rgba(var(--color-gray), 0.18);
}

.Button[disabled],
.Button.is-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.Button--adapt {
  color: rgb(var(--current-color));
  background-color: rgba(var(--current-color), 0.25);
}