/* @define View */

@import "../base/global";

.View {
  display: grid;
}

.View-header {
  position: relative;
  z-index: 1;
}

.View-header--stuck {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
