/* @define View */

@import "../base";

.View {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: rgb(var(--default-background-color));
}

.View-header {
  position: relative;
  z-index: 2;
}

/**
 * Fade in
 */

.View-header--appear {
  opacity: 0;
  will-change: opacity;
  animation: View-header--appearing 600ms 100ms var(--ease) forwards;
}

@keyframes View-header--appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    will-change: unset;
  }
}

.View-header--stuck {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/**
 * 1. Override nested header `--size`
 */

.View-header--secondary {
  --Header-size: 0; /* 1 */
  display: block;
  width: 100%;
  height: 0;
  top: 0;
  margin-bottom: 6rem;
  position: sticky;
}

:root[scripting-enabled] .View-header--secondary {
  visibility: hidden;
}

:root[scripting-enabled] .View-header--secondary.is-visible {
  visibility: visible;
  opacity: var(--View-header-visible, 0);
  will-change: opacity;
}

.View-header--secondary.is-visible .View-headerWrapper {
  width: 100%;
  position: fixed;
  top: 0;
}

@supports (position: sticky) {
  .View-header--secondary.is-visible .View-headerWrapper {
    position: static;
  }
}

.View-main {
  flex-grow: 1;
}

.View-footer {
  margin-top: 10rem;
}
