/* @define View */

@import "../base";

.View {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: rgb(var(--default-background-color));
}

/**
 * Header
 */

.View-header {
  position: relative;
  z-index: 2;
}

.View-header--appear {
  opacity: 0;
  will-change: opacity;
  animation: View-header--appearing 600ms 100ms var(--ease) forwards;
}

@keyframes View-header--appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    will-change: unset;
  }
}

.View-header--stuck {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/**
 * 1. Override nested header `--size`
 */

.View-header--secondary {
  --Header-size: 0; /* 1 */
  display: block;
  width: 100%;
  height: 0;
  top: 0;
  margin-bottom: 5rem;
  position: sticky;
}

@media (min-width: 1000px) {
  .View-header--secondary {
    margin-bottom: 8rem;
  }
}

:root[scripting-enabled] .View-header--secondary {
  visibility: hidden;
}

:root[scripting-enabled] .View-header--secondary.is-visible {
  visibility: visible;
  opacity: var(--View-header-visible, 0);
  will-change: opacity;
}

.View-header--secondary.is-visible .View-headerWrapper {
  width: 100%;
  position: fixed;
  top: 0;
}

@supports (position: sticky) {
  .View-header--secondary.is-visible .View-headerWrapper {
    position: static;
  }
}

/**
 * Main content area
 */

.View-main {
  flex-grow: 1;
}

/**
 * Footer
 */

.View-footer {
  margin-top: 10rem;
}

/**
 * Sections
 */

.View-section {
  margin-bottom: 7rem;
}

/**
 * Visually group section heading with next sibling section
 */

.View-section--heading {
  margin-bottom: 3.5rem;
}

.View-section--heading::before {
  content: "";
  height: 10vh;
  display: block;
  max-height: 60px;
}

/**
 * 1. Deduct margin to augument Grid spacing
 */

.View-section--image + .View-section--video,
.View-section--image + .View-section--gallery,
.View-section--video + .View-section--image,
.View-section--video + .View-section--gallery {
  margin-top: calc((7rem - var(--Grid-gutter)) * -1); /* 1 */
}

/**
 * 1. Rely on gutter cell bottom to apply appropiate spacing
 */

.View-section--gallery + .View-section--image,
.View-section--gallery + .View-section--video {
  margin-top: -7rem; /* 1 */
}
