/* @define Figure */

@import "../base";

.TargetGrid {
  margin: 6rem 0;
}

.TargetGrid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 -2rem;
}

.TargetGrid-cell {
  flex: 0 0 100%;
  min-width: 0;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .TargetGrid-container {
    width: calc(100% + 2rem);
    margin: 0 -1rem;
  }

  .TargetGrid-cell {
    margin: 0;
  }
}

@media (min-width: 800px) {
  .TargetGrid-cell {
    width: 50%;
    flex-basis: 50%;
  }
}

@media (min-width: 900px) {
  .TargetGrid-container {
    width: calc(100% + 3rem);
    margin: 0 -1.5rem;
  }
}
