:root {
  --background: #fff;
  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --system-font-line-height: 1.3;
  --system-font-letter-spacing: 0;
  --color: #000;
  --selection-color: rgba(188, 178, 150, 0.5);
}