:root {
  /* Base */

  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --default-font-size: 16px;
  --default-line-height: 1.5;

  --heading-font-family: "Giorgio Sans Bold", "AvenirNextCondensed-DemiBold", "HelveticaNeue-CondensedBold", "Helvetica Inserat", "Franklin Gothic Condensed", Haettenschweiler, Impact, sans-serif-condensed, sans-serif;
  --heading-word-spacing: 0.04em;
  --heading-line-height: 1.2;

  --default-background-color: 255, 255, 255;
  --default-color: 26, 26, 26;

  --color-link: 38, 189, 226;
  --color-link-shaded: 16, 162, 198;

  /* Easing curves */

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);

  /* Brand colors */

  --color-gray: 241, 241, 241;
  --color-blue: 10, 151, 217;
  --color-blue-shaded: 0, 53, 112;
  --color-bright-blue: 38, 189, 226;
  --color-bright-blue-shaded: 1, 83, 121;
  --color-burgundy-red: 162, 25, 66;
  --color-burgundy-red-shaded: 64, 0, 42;
  --color-dark-green: 63, 126, 68;
  --color-dark-green-shaded: 0, 48, 31;
  --color-dark-mustard: 191, 139, 46;
  --color-dark-mustard-shaded: 91, 50, 3;
  --color-dark-red: 197, 25, 45;
  --color-dark-red-shaded: 91, 1, 4;
  --color-golden-yellow: 253, 157, 36;
  --color-golden-yellow-shaded: 148, 64, 9;
  --color-kelly-green: 76, 159, 56;
  --color-kelly-green-shaded: 13, 59, 6;
  --color-lime-green: 86, 192, 43;
  --color-lime-green-shaded: 16, 87, 2;
  --color-magenta: 221, 19, 103;
  --color-magenta-shaded: 110, 0, 53;
  --color-mustard: 221, 166, 58;
  --color-mustard-shaded: 119, 72, 4;
  --color-navy-blue: 25, 72, 106;
  --color-navy-blue-shaded: 0, 19, 46;
  --color-orange: 253, 105, 37;
  --color-orange-shaded: 135, 38, 0;
  --color-red-orange: 255, 58, 33;
  --color-red-orange-shaded: 128, 5, 1;
  --color-red: 229, 36, 59;
  --color-red-shaded: 117, 0, 31;
  --color-royal-blue: 0, 104, 157;
  --color-royal-blue-shaded: 0, 27, 60;
  --color-yellow: 252, 195, 11;
  --color-yellow-shaded: 206, 131, 7;

  /* Third-party colors */

  --color-twitter: 29, 161, 242;
  --color-facebook: 60, 90, 153;
  --color-youtube: 218, 34, 25;
  --color-instagram: 35, 35, 35;
  --color-weibo: 225, 22, 44;
  --color-vk: 74, 116, 165;

  /* Map colors to goals */

  --color-goal-1: rgb(var(--color-red));
  --color-goal-1-shaded: rgb(var(--color-red-shaded));
  --color-goal-2: rgb(var(--color-mustard));
  --color-goal-2-shaded: rgb(var(--color-mustard-shaded));
  --color-goal-3: rgb(var(--color-kelly-green));
  --color-goal-3-shaded: rgb(var(--color-kelly-green-shaded));
  --color-goal-4: rgb(var(--color-dark-red));
  --color-goal-4-shaded: rgb(var(--color-dark-red-shaded));
  --color-goal-5: rgb(var(--color-red-orange));
  --color-goal-5-shaded: rgb(var(--color-red-orange-shaded));
  --color-goal-6: rgb(var(--color-bright-blue));
  --color-goal-6-shaded: rgb(var(--color-bright-blue-shaded));
  --color-goal-7: rgb(var(--color-yellow));
  --color-goal-7-shaded: rgb(var(--color-yellow-shaded));
  --color-goal-8: rgb(var(--color-burgundy-red));
  --color-goal-8-shaded: rgb(var(--color-burgundy-red-shaded));
  --color-goal-9: rgb(var(--color-orange));
  --color-goal-9-shaded: rgb(var(--color-orange-shaded));
  --color-goal-10: rgb(var(--color-magenta));
  --color-goal-10-shaded: rgb(var(--color-magenta-shaded));
  --color-goal-11: rgb(var(--color-golden-yellow));
  --color-goal-11-shaded: rgb(var(--color-golden-yellow-shaded));
  --color-goal-12: rgb(var(--color-dark-mustard));
  --color-goal-12-shaded: rgb(var(--color-dark-mustard-shaded));
  --color-goal-13: rgb(var(--color-dark-green));
  --color-goal-13-shaded: rgb(var(--color-dark-green-shaded));
  --color-goal-14: rgb(var(--color-blue));
  --color-goal-14-shaded: rgb(var(--color-blue-shaded));
  --color-goal-15: rgb(var(--color-lime-green));
  --color-goal-15-shaded: rgb(var(--color-lime-green-shaded));
  --color-goal-16: rgb(var(--color-royal-blue));
  --color-goal-16-shaded: rgb(var(--color-royal-blue-shaded));
  --color-goal-17: rgb(var(--color-navy-blue));
  --color-goal-17-shaded: rgb(var(--color-navy-blue-shaded));
}