/* @define Intersection */

@import "../base";

.Intersection {
  max-width: 17em;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  line-height: 1.15;
  font-weight: 600;
  hyphens: auto;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  word-spacing: var(--heading-word-spacing);
  text-align: left;
}

.Intersection::before {
  content: "";
  height: 13vh;
  display: block;
  max-height: 7rem;
}

.Intersection-title {
  color: rgb(204, 204, 204);
}

.Intersection a {
  background: rgb(var(--color-link));
  color: rgb(var(--current-background));
  padding: 0.14em 0.14em 0.07em;
  margin: 0;
  white-space: nowrap;
  font-weight: normal;
  transition: background-color 140ms var(--ease-out);
}

.Intersection a:hover {
  background: rgb(var(--color-link-shaded));
  color: #fff;
}

.Intersection--secondary {
  font-size: 1.35rem;
  margin: 0;
}

.Intersection--secondary::before {
  content: none;
}

@media (min-width: 1000px) {
  .Intersection {
    font-size: 4rem;
  }

  .Intersection::before {
    max-height: none;
    min-height: 8rem;
  }

  .Intersection--secondary {
    font-size: 1.55rem;
  }
}

@media (min-width: 1400px) {
  .Intersection--secondary {
    font-size: 1.6rem;
  }
}

@media (min-width: 2000px) {
  .Intersection--secondary {
    font-size: 2.2rem;
  }
}
