/* @define Footer */

@import "../base";

.Footer {
  overflow: hidden;
}

.Footer-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.Footer-section {
  flex: 1 1 calc(50% - 1rem);
  margin: 3rem 0.5rem 0;
}

.Footer-section--logo,
.Footer-section--credits {
  flex: 0 1 calc(50% - 1rem);
}

.Footer-title {
  flex-basis: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  word-spacing: var(--heading-word-spacing);
}

.Footer-list {
  margin-top: 1rem;
}

.Footer-item {
  margin: 0.5rem 0;
}

.Footer-link {
  padding: 0.5em;
  margin: -0.5em;
  transition: background-color 140ms var(--ease-out);
}

.Footer-link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.Footer-logo {
  display: inline-block;
}

.Footer-section--4 {
  padding: 1.7rem 0 1.4rem;
  margin-top: 2rem;
  border-top: 1px solid rgb(var(--color-gray-light));
  flex-basis: 100% !important;
  order: 1;
}

.Footer-section--4 .Footer-list {
  max-width: 33rem;
  margin: 0;
}

.Footer-section--4 .Footer-item {
  display: inline-block;
  white-space: nowrap;
  margin-right: 1.6rem;
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.Footer-section--logo,
.Footer-slot {
  display: none;
}

.Footer-section--4 .Footer-title {
  opacity: 0;
  position: absolute;
  font-size: 0;
}

.Footer-section--credits {
  flex-basis: 100%;
  flex-wrap: wrap;
  align-content: baseline;
  display: flex;
  margin-right: 0;
  margin-left: 0;
}

.Footer-section--credits .Footer-title {
  margin: 0 0.5rem;
}

.Footer-credit {
  flex: 0 1 calc(50% - 1rem);
  margin: 0.5rem 0 0.5rem;
  padding: 0.5rem;
  position: relative;
  font-size: 0.9rem;
}

.Footer-credit .Footer-link {
  width: 95%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.Footer-credit .Footer-link:hover {
  background-color: transparent;
}

.Footer-sub {
  display: block;
  color: rgba(var(--color-gray));
}

.Footer-credit .Footer-figure {
  display: none;
  margin-bottom: 0.6rem;
}

.Footer-credit .Footer-img {
  display: inline-block;
  vertical-align: middle;
  width: 85%;
}

@media (min-width: 500px) {
  .Footer-section,
  .Footer-credit {
    flex-basis: calc((100% / 3) - 1rem);
  }

  .Footer-section--credits {
    flex-basis: 100%;
  }

  .Footer-credit .Footer-figure {
    display: block;
  }
}

@media (min-width: 800px) {
  .Footer-content {
    justify-content: flex-end;
  }

  .Footer-section {
    flex-basis: calc((100% / 4) - 1rem);
  }

  .Footer-section--logo {
    display: block;
  }

  .Footer-slot {
    display: inline-block;
    margin-top: 2rem;
  }

  .Footer-section--credits {
    flex: 0 0 calc((100% / 4) * 3);
  }

  .Footer-section--4 {
    padding: 1.5rem 0 1.3rem;
  }

  .Footer-section--4 .Footer-list {
    max-width: none;
  }
}

@media (min-width: 1100px) {
  .Footer-section {
    flex-basis: calc((100% / 6) - 1rem);
  }

  .Footer-section--logo {
    display: block;
  }

  .Footer-section--credits {
    flex-basis: calc((100% / 6) * 2);
  }

  .Footer-list,
  .Footer-credit {
    margin-top: 2rem;
  }

  .Footer-item {
    margin-top: 1.5rem;
  }

  .Footer-credit {
    flex-basis: calc(50% - 1rem);
  }
}
