/* @define Logo */

@import "../base";

.Logo {
  display: flex;
  align-items: center;
  user-select: none;
}

.Logo-symbol {
  display: block;
  height: 2.9em;
  width: 2.9em;
  margin-right: 0.46em;
}

.Logo-slice:nth-child(1) { color: rgb(var(--color-goal-1)); }
.Logo-slice:nth-child(2) { color: rgb(var(--color-goal-2)); }
.Logo-slice:nth-child(3) { color: rgb(var(--color-goal-3)); }
.Logo-slice:nth-child(4) { color: rgb(var(--color-goal-4)); }
.Logo-slice:nth-child(5) { color: rgb(var(--color-goal-5)); }
.Logo-slice:nth-child(6) { color: rgb(var(--color-goal-6)); }
.Logo-slice:nth-child(7) { color: rgb(var(--color-goal-7)); }
.Logo-slice:nth-child(8) { color: rgb(var(--color-goal-8)); }
.Logo-slice:nth-child(9) { color: rgb(var(--color-goal-9)); }
.Logo-slice:nth-child(10) { color: rgb(var(--color-goal-10)); }
.Logo-slice:nth-child(11) { color: rgb(var(--color-goal-11)); }
.Logo-slice:nth-child(12) { color: rgb(var(--color-goal-12)); }
.Logo-slice:nth-child(13) { color: rgb(var(--color-goal-13)); }
.Logo-slice:nth-child(14) { color: rgb(var(--color-goal-14)); }
.Logo-slice:nth-child(15) { color: rgb(var(--color-goal-15)); }
.Logo-slice:nth-child(16) { color: rgb(var(--color-goal-16)); }
.Logo-slice:nth-child(17) { color: rgb(var(--color-goal-17)); }

.Logo-text {
  display: flex;
  flex-direction: column;
}

.Logo-title {
  font-family: var(--heading-font-family);
  word-spacing: 0.015em;
  text-transform: uppercase;
  display: block;
  line-height: 1em;
  font-size: 1.5em;
  letter-spacing: 0.005em;
  white-space: nowrap;
  font-display: block;
}

.Logo-sub {
  font-family: helvetica, Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  letter-spacing: -0.01em;
  line-height: 1em;
  margin-top: -0.1em;
  margin-left: 0.1em;
}

/**
 * Vertical
 */

.Logo--vertical {
  flex-direction: column;
  text-align: center;
}

.Logo--vertical .Logo-symbol {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0.46em;
  width: 5.1em;
  height: 5.1em;
}

.Logo--vertical .Logo-sub {
  margin-left: 0;
}