/* @define Logo */

@import "../base/global";

.Logo {
  display: block;
  width: 100%;
  height: 100%;
}

.Logo-symbol {
  display: block;
  height: 100%;
  width: 100%;
}

.Logo-slice:nth-child(1) { color: var(--color-goal-1); }
.Logo-slice:nth-child(2) { color: var(--color-goal-2); }
.Logo-slice:nth-child(3) { color: var(--color-goal-3); }
.Logo-slice:nth-child(4) { color: var(--color-goal-4); }
.Logo-slice:nth-child(5) { color: var(--color-goal-5); }
.Logo-slice:nth-child(6) { color: var(--color-goal-6); }
.Logo-slice:nth-child(7) { color: var(--color-goal-7); }
.Logo-slice:nth-child(8) { color: var(--color-goal-8); }
.Logo-slice:nth-child(9) { color: var(--color-goal-9); }
.Logo-slice:nth-child(10) { color: var(--color-goal-10); }
.Logo-slice:nth-child(11) { color: var(--color-goal-11); }
.Logo-slice:nth-child(12) { color: var(--color-goal-12); }
.Logo-slice:nth-child(13) { color: var(--color-goal-13); }
.Logo-slice:nth-child(14) { color: var(--color-goal-14); }
.Logo-slice:nth-child(15) { color: var(--color-goal-15); }
.Logo-slice:nth-child(16) { color: var(--color-goal-16); }
.Logo-slice:nth-child(17) { color: var(--color-goal-17); }

.Logo-text {
  display: block;
  height: 100%;
  width: 100%;
}

/**
 * Horizontal
 */

.Logo--horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 4.5%;
}

.Logo--horizontal .Logo-symbol {
  -ms-flex: 0 1 302px;
  height: 100%;
  width: 77%;
  display: inline-block;
  vertical-align: middle;
}

.Logo--horizontal .Logo-text {
  -ms-flex: 0 1 452px;
  height: 63%;
  width: 200%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: 2.5%;
  left: 4.5%;
  max-width: 160px;
}

/**
 * Vertical
 */

.Logo--vertical .Logo-symbol {
  width: 67%;
  height: 67%;
  margin: 0 auto 8%;
}

.Logo--vertical .Logo-text {
  height: 25%;
}
