@import "../base";

/** @define Calendar */
.Calendar {
  display: block;
  margin: 0;
  padding: 0;
}

.Calendar-item {
  list-style: none;
  display: block;
  position: relative;
}

.Calendar-item--firstOfDay:not(:first-child) {
  top: -1px;
  border-top: 1px solid rgba(var(--color-gray-light), 0.6);
}

.Calendar-item:first-child {
  padding-top: 0;
}

.Calendar-item--appear {
  opacity: 0;
  transform: translateY(100px);
  animation: Calendar-item--appear 600ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes Calendar-item--appear {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Calendar-month {
  display: block;
  margin: 3rem 0 0.5rem;
  font-size: 2rem;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  word-spacing: var(--heading-word-spacing);
  text-transform: uppercase;
}

.Calendar-item:first-child .Calendar-month {
  margin-top: 0;
}

.Calendar-content {
  display: flex;
  align-items: center;
  min-height: 4rem;
  padding: 2rem 0 1.4rem;
  position: relative;
}

.Calendar-item:not(.Calendar-item--firstOfDay) .Calendar-content {
  padding-left: 5.5rem;
}

.Calendar-content::before {
  content: "";
  width: calc(100% + 2em);
  height: calc(100% + 1px);
  position: absolute;
  left: -1em;
  top: 0;
  z-index: -1;
  opacity: 0;
  background: rgba(0, 0, 0, 0.02);
  transition: opacity 175ms var(--ease-out);
  will-change: opacity;
}

.Calendar-content:hover::before {
  opacity: 1;
}

.Calendar-content:not(:last-child) {
  border-bottom: 1px solid rgba(var(--color-gray-light), 0.6);
}

.Calendar-body {
  flex: 1 1 auto;
}

.Calendar-datetime {
  color: rgb(var(--color-gray));
}

.Calendar-date {
  --current-color: 255, 255, 255;
  display: flex;
  justify-content: center;
  float: left;
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
  position: relative;
  left: 0;
  top: -0.3rem;
  border-radius: 100%;
  font-size: 2rem;
  color: rgb(var(--current-color));
  background: rgb(var(--high-contrast-dark, var(--color-theme)));
  font-family: var(--heading-font-family);
  line-height: 4.1rem;
}

.Calendar-item.is-loading .Calendar-date {
  background: rgba(var(--color-gray-light), 0.6);
}

@media (min-width: 600px) {
  .Calendar-title {
    font-size: 1.25rem;
  }
}

.Calendar-link {
  display: block;
}

.Calendar-link::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/**
 * 1. Compensate for normalize removeing link backgrounds on hover
 */

.Calendar-download,
.Calendar-download:hover /* 1 */ {
  padding: 1em;
  position: relative;
  top: -0.3rem;
  z-index: 1;
  color: rgb(var(--high-contrast-light, var(--current-color)));
  background-color: rgba(var(--high-contrast-dark, 255, 255, 255, 0));
}

.Calendar-download::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  background-color: rgb(var(--high-contrast-dark, 255, 255, 255));
  transition: opacity 175ms var(--ease-out);
  will-change: opacity;
}

.Calendar-download:hover::before {
  opacity: 1;
}
