/* @define Map */

@import "../base/global";

.Map {
  display: flex;
  width: 100%;
  max-height: 85vh;
  position: relative;
  background-color: rgb(var(--color-gray-light));
}

.Map.has-error {
  align-items: center;
  justify-content: center;
}

.Map:not(.has-error)::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding-top: calc(100% * 9/16);
}

.Map-marker {
  cursor: pointer;
  color: var(--current-color);
  transition: transform 150ms cubic-bezier(0.19, 1, 0.22, 1);
}

.Map-marker.is-selected {
  transform-origin: 50% 100%;
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
