@import "../base";

/* @define Text */
.Text {
  color: rgb(var(--current-color));
  font-family: var(--default-font-family);
  line-height: 1.5;
  font-size: 1rem;
  max-width: 39em;
}

.Text-muted {
  color: rgb(var(--color-text-muted));
}

.Text:first-child {
  margin-top: 0;
}

.Text:last-child {
  margin-bottom: 0;
}

/**
 * Block elements
 */

.Text p,
.Text ul,
.Text ol {
  margin: 0;
}

.Text p:not(:first-child),
.Text ul:not(:first-child),
.Text ol:not(:first-child) {
  margin-top: 1.3em;
}

.Text p:not(:last-child),
.Text ul:not(:last-child),
.Text ol:not(:last-child) {
  margin-bottom: 1.3em;
}

.Text img,
.Text pre {
  margin: 0;
}

.Text img:not(:first-child),
.Text pre:not(:first-child) {
  margin-top: 1.5em;
}

.Text img:not(:last-child),
.Text pre:not(:last-child) {
  margin-bottom: 1.5em;
}

.Text img {
  height: auto;
  max-width: 100%;
  background: rgb(var(--color-gray-light));
}

.Text pre {
  font-size: 12px;
  overflow: auto;
  background: rgb(var(--color-gray-light));
  padding: 1em;
  text-align: left;
}

/**
 * Lists
 */

.Text ul {
  list-style-type: none;
}

.Text ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.Text ul li {
  padding-left: 1.5rem;
  position: relative;
}

.Text ol li {
  padding-left: 0.5rem;
}

.Text ul li::before {
  content: "–";
  position: absolute;
  left: 0;
  font-weight: 600;
  color: var(--color-theme)
}

.Text li + li {
  padding-top: 1rem;
}

/**
 * 1. Maintain 16/9 aspect ratio for embedded content
 */

.Text iframe {
  width: 100vw;
  height: calc(100% * 9/16); /* 1 */
  max-width: 100%;
  vertical-align: top;
  user-select: none;
}

/**
 * Headings
 */

.Text h1,
.Text h2,
.Text h3,
.Text h4,
.Text h5,
.Text h6,
.Text .Text-h1,
.Text .Text-h2,
.Text .Text-h3,
.Text .Text-h4,
.Text .Text-h5,
.Text .Text-h6 {
  margin: 0;
  color: rgb(var(--current-color));
}

.Text h1:not(:first-child),
.Text h2:not(:first-child),
.Text h3:not(:first-child),
.Text h4:not(:first-child),
.Text h5:not(:first-child),
.Text h6:not(:first-child),
.Text .Text-h1:not(:first-child),
.Text .Text-h2:not(:first-child),
.Text .Text-h3:not(:first-child),
.Text .Text-h4:not(:first-child),
.Text .Text-h5:not(:first-child),
.Text .Text-h6:not(:first-child) {
  margin-top: 1em;
}

.Text h1,
.Text h2,
.Text h3,
.Text h4,
.Text .Text-h1,
.Text .Text-h2,
.Text .Text-h3,
.Text .Text-h4 {
  margin: 0 0 -0.25em;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  word-spacing: var(--heading-word-spacing);
}

.Text h1,
.Text .Text-h1 {
  font-size: 3rem;
  line-height: 1;
}

.Text h2,
.Text .Text-h2 {
  font-size: 2rem;
  line-height: 1.1;
}

.Text h3,
.Text h4,
.Text .Text-h3,
.Text .Text-h4 {
  font-size: 1.5rem;
  line-height: 1.15;
  margin-bottom: -0.625em;
}

.Text h5,
.Text h6,
.Text .Text-h5,
.Text .Text-h6 {
  margin: 1.3em 0;
  font-weight: 600;
  font-size: inherit;
  line-height: inherit;
}

.Text h1 a,
.Text h2 a,
.Text h3 a,
.Text h4 a,
.Text .Text-h1 a,
.Text .Text-h2 a,
.Text .Text-h3 a,
.Text .Text-h4 a {
  background: rgb(var(--color-link));
  color: rgb(var(--current-background));
  padding: 0.15em 0.18em 0.08em;
  margin: 0;
  white-space: nowrap;
  font-weight: normal;
  transition: background-color 140ms var(--ease-out);
}

.Text h1 a:hover,
.Text h2 a:hover,
.Text h3 a:hover,
.Text h4 a:hover,
.Text .Text-h1 a:hover,
.Text .Text-h2 a:hover,
.Text .Text-h3 a:hover,
.Text .Text-h4 a:hover {
  background: rgb(var(--color-link-shaded));
  color: #fff;
}

@media (min-width: 1200px) {
  .Text h1:not(:first-child),
  .Text h2:not(:first-child),
  .Text h3:not(:first-child),
  .Text h4:not(:first-child),
  .Text .Text-h1:not(:first-child),
  .Text .Text-h2:not(:first-child),
  .Text .Text-h3:not(:first-child),
  .Text .Text-h4:not(:first-child) {
    margin-top: 4.5rem;
  }

  .Text h1,
  .Text .Text-h1 {
    font-size: 4.5rem;
  }

  .Text h2,
  .Text .Text-h2 {
    font-size: 3rem;
  }

  .Text h3,
  .Text .Text-h3 {
    font-size: 2rem;
    line-height: 1.05;
  }

  .Text h4,
  .Text .Text-h4 {
    font-size: 1.5rem;
    line-height: 1.05;
  }
}

/**
 * Expandable
 */

.Text-expandable {
  position: relative;
}

:root[scripting-enabled] .Text-expandable {
  max-height: 13em;
  overflow: hidden;
  padding-bottom: 2rem;
}

.Text-expandable.is-expanded {
  padding-bottom: 0;
}

.Text-expander {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.95) 80%, rgba(255, 255, 255, 1) 88%);
}

:root[scripting-enabled] .Text-expander {
  display: block;
}

.Text-toggle {
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: 0;
  color: rgb(var(--high-contrast-light, var(--color-gray)));
  background-color: rgba(var(--high-contrast-dark, 0, 0, 0, 0));
  box-shadow:
    0.2em 0 0 rgba(var(--high-contrast-dark, 0, 0, 0, 0)),
    -0.2em 0 0 rgba(var(--high-contrast-dark, 0, 0, 0, 0));
}

.Text-toggle::before,
.Text-toggle::after {
  content: "";
  width: 1px;
  height: 0.7em;
  position: absolute;
  left: 0.35em;
  top: 50%;
  transform-origin: center;
  transform: translateY(-50%);
  background-color: currentColor;
}

.Text-toggle::after {
  transform: translateY(-50%) rotate(90deg);
}
