@import "../base";

/** @define Symbol */
.Symbol {
  display: inline-block;
  margin: 0 1ch;
  position: relative;
  vertical-align: text-top;
  line-height: 1;
}

.Symbol--cover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/**
 * Variants
 */

.Symbol--calendar {
  top: -0.05em;
}

.Symbol--external .Symbol-arrow {
  will-change: transform;
  transition: transform 100ms var(--ease-out);
}

.Symbol--external:hover .Symbol-arrow {
  transform: translate(2px, -2px);
}
