/* @define utilities */

@import "../global";

.u-hidden {
  display: none !important;
}

.u-hiddenVisually {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

@media print {
  .u-printHidden {
    display: none !important;
  }
}

/**
 * Positioning
 */

.u-posStatic { position: static !important; }
.u-posRelative { position: relative !important; }
.u-posAbsolute { position: absolute !important; }
.u-posFixed { position: fixed !important; }
.u-posSticky { position: sticky !important; }

.u-top { top: 0 !important; }
.u-right { right: 0 !important; }
.u-bottom { bottom: 0 !important; }
.u-left { left: 0 !important; }

/**
 * Centered page container
 */

.u-container {
  width: 100% !important;
  margin: 0 auto !important;
  padding-left: 1.125rem !important;
  padding-right: 1.125rem !important;
  padding-left: calc(1.125rem + constant(safe-area-inset-right)) !important;
  padding-right: calc(1.125rem + constant(safe-area-inset-right)) !important;
  padding-left: calc(1.125rem + env(safe-area-inset-right)) !important;
  padding-right: calc(1.125rem + env(safe-area-inset-right)) !important;
}

@media (min-width: 600px) {
  .u-container,
  .u-md-container {
    width: 100% !important;
    margin: 0 auto !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-left: calc(1.5rem + constant(safe-area-inset-right)) !important;
    padding-right: calc(1.5rem + constant(safe-area-inset-right)) !important;
    padding-left: calc(1.5rem + env(safe-area-inset-right)) !important;
    padding-right: calc(1.5rem + env(safe-area-inset-right)) !important;
  }
}

@media (min-width: 1000px) {
  .u-container,
  .u-md-container,
  .u-lg-container {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-left: calc(2rem + constant(safe-area-inset-right)) !important;
    padding-right: calc(2rem + constant(safe-area-inset-right)) !important;
    padding-left: calc(2rem + env(safe-area-inset-right)) !important;
    padding-right: calc(2rem + env(safe-area-inset-right)) !important;
  }
}

@media (min-width: 1200px) {
  .u-container,
  .u-md-container,
  .u-lg-container,
  .u-xl-container {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-left: calc(3rem + constant(safe-area-inset-right)) !important;
    padding-right: calc(3rem + constant(safe-area-inset-right)) !important;
    padding-left: calc(3rem + env(safe-area-inset-right)) !important;
    padding-right: calc(3rem + env(safe-area-inset-right)) !important;
    max-width: calc(var(--max-width) + (3rem * 2)) !important;
  }
}
