@import "../base";

/** @define Material */
.Material {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background: rgb(var(--color-gray-light));
}

.Material--grow {
  flex-wrap: wrap;
  flex-direction: row;
}

@media (min-width: 800px) {
  .Material--grow {
    flex-wrap: nowrap;
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .Material--grow {
    padding: 3rem;
  }
}

.Material--banner {
  padding: 0;
  align-items: stretch;
}

/**
 * Image
 */

.Material-figure {
  flex: 0 0 auto;
  width: 100%;
  position: relative;
}

@media (min-width: 800px) {
  .Material--grow .Material-figure {
    width: calc(100% * 1 / 3);
    margin-right: 2rem;
    margin-right: 3rem;
  }

  .Material--grow .Material-figure::before {
    padding-top: 80%;
  }

  .Material--banner .Material-figure {
    width: 70%;
    margin-right: 0;
  }
}

.Material-image {
  width: 100%;
}

.Material--banner .Material-image {
  position: static;
  object-fit: cover;
}

@media (min-width: 800px) {
  .Material--banner .Material-image {
    position: absolute;
    object-fit: contain;
    height: 100%;
    background: #1a1a1a;
  }
}

/**
 * Body
 */

.Material-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

@media (min-width: 800px) {
  .Material--grow .Material-body {
    display: block;
    padding: 0;
  }
}

.Material--banner .Material-body {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.Material-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  word-spacing: var(--heading-word-spacing);
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .Material--grow .Material-title {
    font-size: 3rem;
    line-height: 1.05;
  }
}

.Material:not(.Material--grow) .Material-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/**
 * Link
 */

.Material-action {
  order: 99;
  align-self: flex-start;
  margin-top: auto;
}

@media (min-width: 800px) {
  .Material--grow .Material-action {
    float: right;
    margin: 0 0 1.5rem 1.5rem;
  }
}

.Material--banner .Material-action {
  float: none;
  width: 100%;
  margin: 1.25rem 0 0;
}

@media (min-width: 800px) {
  .Material--banner .Material-action {
    margin-top: 2rem;
  }
}

.Material-label {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (min-width: 1200px) {
  .Material--banner .Material-label {
    padding: 0.4rem 0 0.2rem;
    font-size: 2rem;
  }
}

/**
 * Footer
 */

.Material-footer {
  display: flex;
  flex-wrap: wrap;
  margin: 1.25rem -0.625rem 0.625rem -0.625rem;
  font-size: 0.75rem;
}

.Material--banner .Material-footer {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 800px) {
  .Material--grow .Material-footer {
    padding-top: 1.25rem;
    border-top: 1px solid rgba(var(--color-gray), 0.25);
    margin-bottom: -0.625rem;
    font-size: 0.875rem;
  }

  .Material--banner .Material-footer {
    order: -1;
    flex-direction: column;
    padding: 0;
    border: 0;
    margin: 0;
  }
}

.Material-section {
  width: 50%;
  border: 0px solid transparent;
  border-width: 0 0.625rem;
  margin-bottom: 0.625rem;
}

@media (min-width: 1200px) {
  .Material--grow .Material-section {
    width: 25%;
  }
}

@media (min-width: 800px) {
  .Material--banner .Material-section {
    width: 100%;
    border: 0;
    margin-bottom: 1.25rem;
  }
}

.Material-heading {
  display: block;
  font-weight: 600;
  font-size: 0.875rem;
}

@media (min-width: 1200px) {
  .Material--banner .Material-heading {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .Material--grow .Material-heading {
    margin-bottom: 0.625rem;
    font-size: 1.1875rem;
  }
}

.Material-listItem {
  display: inline-block;
  margin: 0 0.25em 0 0;
}

.Material-listItem:not(:last-child)::after {
  content: ",";
}

.Material-link:hover {
  text-decoration: underline;
}

/**
 * Goal
 */

.Material-allGoals {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
}

.Material-allGoals svg {
  width: 2rem;
  height: 2rem;
}
