/* We can't really import base here as this file is embedded in the javascript
 * without running through postcss
 * @import "../base";
 */

:root {
  --Chart-scale-factor: 1;
}

/** @define Chart */
.Chart {
  width: 100%;
  height: auto;
}

.Chart-label,
.Chart-heading {
  fill: rgb(var(--current-color));
  font-family: var(--default-font-family);
  font-size: calc(var(--default-font-size) * var(--Chart-scale-factor));
  line-height: var(--default-line-height);
}

.Chart-label--big,
.Chart-label--huge {
  font-size: calc(2.5rem * var(--Chart-scale-factor));
  font-family: var(--heading-font-family);
  word-spacing: var(--heading-word-spacing);
  line-height: var(--heading-line-height);
  text-transform: uppercase;
}

.Chart-label--huge {
  font-size: 15rem;
}

.Chart-label--dark {
  fill: currentColor;
}

.Chart-label--light {
  fill: #fff;
}

.Chart-color {
  fill: rgb(var(--current-color));
}

.Chart-bar {
  fill: rgb(var(--current-color));
}

/**
 * Apply "small" rules within specific scopes. Useful when shown in columns.
 */

@media (min-width: 600px) and (max-width: 900px) {
  .Chart--md .Chart-label--big {
    font-size: calc(2rem * var(--Chart-scale-factor));
  }

  .Chart--md.Chart--bar .Chart-legend {
    display: none;
  }
}

@media (max-width: 480px) {
  .Chart-label--big {
    font-size: calc(2rem * var(--Chart-scale-factor));
  }

  .Chart--bar .Chart-legend {
    display: none;
  }
}

.Chart-bar {
  transform: scaleY(0);
  transform-origin: bottom;
}

:root:not([scripting-enabled]) .Chart-bar,
:root[scripting-enabled] .Chart.in-view .Chart-bar {
  animation: Chart-bar--appearing 800ms forwards var(--ease-out);
}

@keyframes Chart-bar--appearing {
  to {
    transform: scaleY(1);
  }
}

.Chart-label {
  opacity: 0;
  transform: translateY(40px);
}

.Chart-label--huge {
  transform-origin: center;
  transform: scale(1.5);
}

:root:not([scripting-enabled]) .Chart-label,
:root[scripting-enabled] .Chart.in-view .Chart-label {
  animation: Chart-label--appearing 400ms forwards var(--ease-out);
}

.Chart.in-view .Chart-label--huge {
  animation-timing-function: cubic-bezier(0.175, 0.985, 0.14, 1.275);
}

@keyframes Chart-label--appearing {
  62.5% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
